body{
    margin: 0px;
    padding: 0px;
}

.header-nav{
    background: linear-gradient(rgb(0, 67, 96) 0%, rgb(0, 36, 52) 100%) white;
    padding: 30px;
}
.navbar-light .navbar-brand {
    color: #dbb993;
}

.font-head{
    color: #dbb993;
    font-family: 'Roboto';
    font-size: 34px;
    font-weight: 700;
}

a{
    text-decoration: none;
}
.size-thead{
    background: #212530;
    color: #dbb993;
    font-family:sans-serif;
    font-weight: 600;
    font-size: 20px;
    height: 100px;
    padding: 30px 15px;
    text-align: center;
    vertical-align: middle;
}
.row{
    padding-left: 25px;
}

.content-text{
    font-size: 23px;
    font-weight: 500;
    height: 80px;
    text-align: center;
    vertical-align: middle;
}

.content-td1{
    font-size: 23px;
    font-weight: 800;
}

.border-head{
   border-right-color: #dbb993;
   border-right-style: 1px solid;
   border-right-width: medium;
   line-height: 30px;
}

.head-lat-act{
    background-color: #004360;
    height: 70px;
    padding: 45px;
    text-align: right;
}

.head-lat-dem{
    background:#003045;
    height: 70px;
    padding: 45px;
    text-align: right;
}

.td-second{
    color: #dbb993;
    font-family:sans-serif ;
    font-size: 22px;
    font-weight: 700;
    width: 300px;

}

.color-td{
    background: #ebebeb;
}