body{
    font-family: 'Roboto, Oswald';
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.loop{
    display:inline-block;
    height: 100%;
    width: 100%;
}

/*.scroll-row{
    animation: scroll 500s linear infinite backwards;
    position:relative;
}*/

.heading{
    background: linear-gradient(rgb(0, 67, 96) 0%, rgb(0, 36, 52) 100%) white;
    height: 200px;
    padding: 16px 0; 
    position: sticky;
    top:0;
}
.uppercase{
    text-transform: uppercase;
}

.subheading{
    background: #212530;
    color:#dbb993;
    flex: 1 1 auto;
    font-family: sans-serif;
    font-size:33px;
    position: sticky;
    vertical-align: middle;
}

.bl{
    border-left: solid 1px #dbb993;
    padding: 35px 18px;
}
.pdng{
    padding: 35px 15px;
}
.pdng2{
    padding: 25px 15px;
}

.txt-lb{
    font-size: 22px;
    padding: 15px 12px;
}
.lbl{
    color:#dbb993;
    font-weight: 600; 
    text-align: right;
}

.col-bk{
    background-color: #fff;
}
  
.titulo-blanco{
    color: #dbb993;
    font-family: 'Oswald', sans-serif;
    font-size: 65px;
    margin-top: 25px;
    text-transform: capitalize;
}
   
.colors{
    background:#003045;
    background-color: #004360;
    color: #212530;
    color: #dbb993;
}

.img-log{
    height: auto;
    position: center;
    width: auto;
}
.marca-agua {
    background:url("imagen/pjecz-negro-plano.svg");
    display: block;
    filter: invert(1);
    height: auto;
    left: 3%;
    opacity: 0.5;
    padding-bottom: 15px;
    position:fixed;
    top: auto;
    width: 150px;
    padding: 10px;

}